{
  "environment": "dev",
  "debug": true,
  "Captcha": {
    "sitekey": "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI",
    "secret": "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"
  },
  "Ethereum": {
    "etherToTransfer": "1",
    "gasLimit": "0x7b0c",
    "dev": {
      "rpc": "https://vet-rpc.visc.network/",
      "privateKey": "54dd4125ed5418a7a68341413f4006256159f9f5ade8fed94e82785ef59523ab"
    }
  }
}
